* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$sans: "Source Sans Pro", sans-serif;
$hind: "Hind", sans-serif;
$fresca: "Fresca", sans-serif;
$font-family: (
  sans: $sans,
  hind: $hind,
  fresca: $fresca
);


.body {
  margin: 0;
  padding: 0;
  font-family: map-get($font-family, hind);
  color: $color-font;
  background-color: $bg-color;
  box-sizing: border-box;
}

.header {
  width: 1920px;
  background: $image-header center no-repeat;
  height: 724px;
  background-size: cover;
  border-bottom-right-radius: 40%;
}

.header-wrap {
  padding-left: 190px;
}
.landing-logo > p {
  width: 100px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
}
.landing-logo > p > span {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  width: 100px;
}

.landing-logo {
  display: flex;
  padding-top: 22px;
  margin-bottom: 72px;
}

.header_heading {
  font-size: 72px;
  line-height: 72px;
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  height: 140px;
  width: 490px;
  margin-bottom: 40px;
  position: relative;
}
.header_heading::after {
  content: "";
  background-color: rgba(0, 0, 255, 0.404);
  height: 50px;
  width: 300px;
  position: absolute;
  top: 91px;
  right: 190px;
}

.header_text {
  font-size: 16px;
  width: 660px;
  height: 93px;
  font-family: "Hind", sans-serif;
  white-space: pre-line;
  margin-bottom: 88px;
}
.header_button {
  width: 142px;
  height: 48px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Hind", sans-serif;
  text-align: center;
  background: #699900;
  border: none;
  border-radius: 3px;
  color: white;
}
.login {
  font-family: "Hind", sans-serif;
  font-size: 20px;
  line-height: 20px;
  padding-left: 148px;
  white-space: pre-line;
  color: white;
}
.section_text {
  width: 1920px;
  text-align: center;
  font-size: 43px;
  line-height: 43px;
  font-weight: 600;
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  white-space: pre-line;
  position: relative;
  margin-bottom: 30px;
}
.section_text::after {
  content: "";
  background-color: rgba(0, 0, 255, 0.404);
  height: 50px;
  width: 190px;

  position: absolute;
  top: 32px;
  left: 968px;
}
.section_card_wrap {
  margin: 0 auto;
  width: 1120px;
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
  margin-left: 384px;
}
.section_card {
  display: flex;
  flex-direction: row;
  width: 1120px;
  margin: 12px;
  background: #85868c;
  border-radius: 5px;
}
.section_card_img {
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}
.section_card_right_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.section_card_heading {
  text-align: center;
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 40px;
  padding-bottom: 25px;
}
.section_card_text {
  font-weight: 400;
  color: #000000;
  font-family: "Hind", sans-serif;
  text-align: justify;
  padding: 0px 75px 50px 75px;
}
.section_link {
  color: white;
  text-align: center;
}
.section_banner {
  margin-left: 360px;
  width: 1200px;
  background: linear-gradient(to right, #679707, #305ed1);
  height: 140px;
  border-radius: 5px;
  transform: translateY(73px);
}
.section_banner_button {
  width: 142px;
  height: 48px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Hind", sans-serif;
  text-align: center;
  background: #699900;
  border: none;
  border-radius: 3px;
  color: white;
  position: absolute;
  left: 895px;
  top: 48px;
}
.section_banner_heading {
  font-size: 28px;
  line-height: 28px;
  font-weight: 800;
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  white-space: pre-line;
  position: relative;
  margin-left: 160px;
}
.section_banner_heading::after {
  content: "";
  background-color: rgba(0, 0, 255, 0.404);
  height: 50px;
  width: 64px;
  position: absolute;
  top: 10px;
  left: 112px;
}
.section_banner_text {
  font-size: 16px;
  color: #c0c0b8;
  font-family: "Hind", sans-serif;
  margin-left: 160px;
  margin-top: 18px;
}

.footer {
  width: 1920px;
  height: 240px;
  background: #525d5f;
}
.footer-wrap {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer_logo {
  margin-top: 18px;
  margin-bottom: 0;
  margin-left: -32px;
}
.footer_logo > p {
  width: 100px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
}
.footer_logo > p > span {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  width: 100px;
}
.footer_text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 300px;
  padding-top: 25px;
}
.footer-cr {
  align-self: center;
  font-family: "Source Sans Pro", sans-serif;
}
