$image-header: url(../img/m-h-day.jpg);
$font: 'Hind', sans-serif;
$color-font: #2C2F3C;
$color-line: #14A0C7;
$color-button: #699900;
$bg-gradient: linear-gradient(90deg, #679704, #2C5ADA);
$bg-card: #21232E;
$bg-color: white;