
$image-header: url(../img/m-h-night.jpg);
$font: 'Fresca', sans-serif;
$color-font: white;
$color-line: #FF4E33;
$color-button: #E3AC00;
$bg-gradient: linear-gradient(90deg, #E1A901, #932D52);
$bg-card: #3B3F50;
$bg-color: #21232E;