#root {
  cursor: pointer;
  max-width: 100%;
  margin: auto;
}
 ul {
  list-style: none;
}

#root li .title:hover {
  background-color: #eeeeee;
}

.empty-message {
font-style: italic;
margin: 0;
}

.material-icons {
  color: #bbb;
  vertical-align: bottom;
  font-size: 1.2em;
}

.material-icons.folder {
  color: rgb(252, 177, 38);
}

.material-icons.file {
  color:gray;
}

.folder > ul,
.folder > p {
display: none;
} 

.open > ul,
.open > p {
display: block;
}